<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8"/>
    {{#block 'vedtak14a/partials/style' }}
    {{/block}}
</head>

<body>
    <div class="main">

        <div class="header">
            <div class="nav-logo-container">
                <img class="nav-logo" src="{{image "Navlogo.png"}}">
            </div>

            <div class="header__info">
                <div class="personalia">
                    <p style="margin: 0">{{mottaker.navn}}</p>
                    <p style="margin: 0">BLÅBÆRSTIEN 10</p>
                    <p style="margin: 0">0652 OSLO</p>
                </div>
                <div class="dato-og-unntatt">
                    <p style="margin: 0">Dato: {{dato}}</p>
                    <em class="unntatt-offentligheten" style="margin: 0">
                        {{#eq malform "NN"}}
                            TODO
                        {{/eq}}
                        {{#eq malform "NB"}}
                            Unntatt offentligheten
                        {{/eq}}
                    </em>
                </div>
            </div>
        </div>

        <div class="innhold">
            {{> @partial-block}}
        </div>

        {{#if utkast}}
            <div class="vannmerke-container">
                 <span class="vannmerke">UTKAST</span>
            </div>
        {{/if}}
    </div>
    <div class="footer">
        <strong style="margin: 0">NAV Ullern</strong>
        <p style="margin: 0">Postadresse: NAV Ullern // Postboks 8 Alnabru // 1640 OSLO</p>
        <p style="margin: 0">Telefon: 92323232 // nav.no</p>
        <p class="page-counter"/>
    </div>
</body>

</html>
