<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8" />
    {{#block 'vedtak14a/partials/style' }}
    {{/block}}
    <meta name="description" content="Vedtak § 14 a"/>
    <meta name="author" content="Nav"/>
    <meta name="subject" content="Vedtak § 14 a"/>
    <title>Vedtak § 14 a</title>
</head>

<body>
        <table class="personalia-table">
            <tr>
                <th scope="row">Navn:</th>
                <td>{{mottaker.navn}}</td>
                <td class="dato-og-unntatt">{{dato}}</td>
            </tr>
            <tr>
                <th scope="row">Fødselsnummer:</th>
                <td>{{mottaker.fodselsnummer}}</td>
                <td class="dato-og-unntatt"><em class="unntatt-offentligheten">
                        {{#eq malform "NN"}}
                        Unntatt offentlegheita
                        {{/eq}}
                        {{#eq malform "NB"}}
                        Unntatt offentligheten
                        {{/eq}}
                    </em></td>
            </tr>
        </table>
    </header>

    <footer>
        <span class="sidetall">Side <span id="sidenummer"></span> av <span id="sideantall"></span></span>
    </footer>

    <div class="innhold">
        {{> @partial-block}}
    </div>

    {{#if utkast}}
    <div class="vannmerke-container">
        <span class="vannmerke">UTKAST</span>
    </div>
    {{/if}}
</body>

</html>