{{#> vedtak14a/base}}
    <div class="innhold">

        {{> vedtak14a/partials/innledning}}
        {{#eq malform "NN"}}
            <p>Vedtaket er gjort etter lov om arbeids- og velferdsforvaltninga (NAV-lova) ยง 14a.</p>
        {{/eq}}
        {{#eq malform "NB"}}
            <p>Vedtaket er gjort etter lov om arbeids- og velferdsforvaltningen (NAV-loven) ยง 14a.</p>
        {{/eq}}
        {{> vedtak14a/partials/begrunnelse}}
        {{#eq malType "STANDARD_INNSATS_SKAFFE_ARBEID" }}
            {{> vedtak14a/partials/hjelp}}
        {{/eq}}
        {{#eq malType "STANDARD_INNSATS_SKAFFE_ARBEID_PROFILERING" }}
            {{> vedtak14a/partials/hjelp}}
        {{/eq}}
        {{> vedtak14a/partials/kilder}}
        {{> vedtak14a/partials/klage}}
        {{> vedtak14a/partials/sporsmal}}
        {{> vedtak14a/partials/signatur}}

    </div>
{{/vedtak14a/base}}
