{{#if begrunnelse}}
    {{#eq malform "NN"}}
        <h2>Dette er grunngjevinga vår</h2>
    {{/eq}}
    {{#eq malform "NB"}}
        <h2>Dette er begrunnelsen vår</h2>
    {{/eq}}
    {{#each begrunnelse}}
        <p>{{this}}</p>
    {{/each}}
{{/if}}