{{#eq malform "NN"}}
    <div class="avoid-page-break">
        <h2>Tenester du kan bruke</h2>
        <p>
            P책 <span class="lenke">nav.no</span> kan du
        </p>
        <ul>
            <li>halde oversikt over arbeidsretta aktivitetar i aktivitetsplanen p책 <span
                    class="lenke">nav.no/aktivitetsplan</span></li>
        </ul>
    </div>
{{/eq}}
{{#eq malform "NB"}}
    <div class="avoid-page-break">
        <h2>Tjenester du kan bruke</h2>
        <p>
            P책 <span class="lenke">nav.no</span> kan du
        </p>
        <ul>
            <li>holde oversikt over arbeidsrettede aktiviteter i aktivitetsplanen p책 <span
                    class="lenke">nav.no/aktivitetsplan</span></li>
        </ul>
    </div>
{{/eq}}
