{{#eq malform "NN"}}
<div class="avoid-page-break">
    <h2>Korleis kan vi hjelpe deg?</h2>
    <p>
        Når du loggar deg inn på <span class="lenke">nav.no</span> kan du
    </p>
    <ul>
        <li>få tips til å skrive CV og søknad og om korleis du kan bu deg til jobbintervju</li>
        <li>registrere CV-en din slik at NAV kan formidle den til aktuelle arbeidsgivarar</li>
        <li>halde oversikt over jobbar du søkjer på, og andre jobbrelaterte aktivitetar i aktivitetsplanen</li>
    </ul>
</div>
{{/eq}}
{{#eq malform "NB"}}
<div class="avoid-page-break">
    <h2>Hvordan kan vi hjelpe deg?</h2>
    <p>
        Når du logger deg inn på <span class="lenke">nav.no</span> kan du
    </p>
    <ul>
        <li>få tips til å skrive CV og søknad og hvordan du kan forberede deg til jobbintervju</li>
        <li>registrere CV-en din slik at NAV kan formidle den til aktuelle arbeidsgivere</li>
        <li>holde oversikt over jobber du søker på og andre jobbrelaterte aktiviteter i aktivitetsplanen</li>
    </ul>
</div>
{{/eq}}
