{{#eq malform "NN"}}
<div class="avoid-page-break">
    <h2>Tenester du kan bruke</h2>
    <p>
        På <span class="lenke">nav.no</span> kan du
    </p>
    <ul>
        <li>få tips til å skrive CV og søknad og korleis du kan bu deg til jobbintervju på <span
                class="lenke">nav.no/soker-jobb</span></li>
        <li>registrere CV-en din på <span class="lenke">nav.no/min-cv</span> slik at Nav kan formidle den til aktuelle
            arbeidsgivarar</li>
        <li>halde oversikt over jobbar du søkjer på og andre arbeidsretta aktivitetar i aktivitetsplanen på <span
                class="lenke">nav.no/aktivitetsplan</span></li>
    </ul>
</div>
{{/eq}}
{{#eq malform "NB"}}
<div class="avoid-page-break">
    <h2>Tjenester du kan bruke</h2>
    <p>
        På <span class="lenke">nav.no</span> kan du
    </p>
    <ul>
        <li>få tips til å skrive CV og søknad og hvordan du kan forberede deg til jobbintervju på <span
                class="lenke">nav.no/soker-jobb</span></li>
        <li>registrere CV-en din på <span class="lenke">nav.no/min-cv</span> slik at Nav kan formidle den til aktuelle
            arbeidsgivere</li>
        <li>holde oversikt over jobber du søker på og andre arbeidsrettede aktiviteter i aktivitetsplanen på <span
                class="lenke">nav.no/aktivitetsplan</span></li>
    </ul>
</div>
{{/eq}}
