<div class="avoid-page-break">
    <h3>Du har rett til 책 klage</h3>
    <p>
        {{#eq malform "NN"}}
            Dersom du er ueinig i vurderinga, kan du klage innan tre veker fr책 brevet har kome fram. Du finn skjema og
            informasjon p책 nav.no/klage.
        {{/eq}}
        {{#eq malform "NB"}}
            Hvis du er uenig i vurderingen, kan du klage innen tre uker fra brevet har kommet frem. Du finner skjema og
            informasjon p책 nav.no/klage.
        {{/eq}}
    </p>
</div>
