<p id="signatur">
    {{#eq malform "NN"}}
        Med vennleg helsing<br />
    {{/eq}}
    {{#eq malform "NB"}}
        Med vennlig hilsen<br />
    {{/eq}}
    {{veilederNavn}}<br />
    {{navKontor}}
</p>