<div class="avoid-page-break">
    <h3>Har du spørsmål?</h3>
    <p>
        {{#eq malform "NN"}}
            Du kan kontakte rettleiaren din på aktivitetsplan.nav.no/dialog eller ringje kontaktsenteret vårt på telefon
            55 55 33 33. Dersom du har søkt om økonomisk støtte, får du svar når søknaden din er behandla, på
            tjenester.nav.no/saksoversikt.
        {{/eq}}
        {{#eq malform "NB"}}
            Du kan kontakte veilederen din på aktivitetsplan.nav.no/dialog eller ringe kontaktsenteret vårt på telefon
            55 55 33 33. Hvis du har søkt om økonomisk støtte, får du svar når søknaden din er behandlet på
            tjenester.nav.no/saksoversikt.
        {{/eq}}
    </p>
</div>
