<div class="avoid-page-break">
    <h2>Har du spørsmål?</h2>
    {{#eq malform "NN"}}
    <p>Du finn meir informasjon på <span class="lenke">nav.no/arbeid</span>.</p>
    <p>På <span class="lenke">nav.no/arbeid/dialog</span> kan du kontakte rettleiaren din.</p>
    <p>Om du ikkje finn svar på nav.no, kan du ringe oss på telefon 55 55 33 33, kvardagar 09:00–15:00.</p>

    {{/eq}}
    {{#eq malform "NB"}}
    <p>Du finner mer informasjon på <span class="lenke">nav.no/arbeid</span>.</p>
    <p>På <span class="lenke">nav.no/arbeid/dialog</span> kan du kontakte veilederen din.</p>
    <p>Hvis du ikke finner svar på nav.no kan du ringe oss på telefon 55 55 33 33, hverdager 09:00–15:00.</p>
    {{/eq}}
</div>