{{#eq malform "NN"}}
    <h2>Du har rett til oppfølging etter ungdomsgarantien</h2>
    <p>Dette tyder at du får tilbod om ein fast kontaktperson hos Nav som vil gje deg rask hjelp og tett oppfølging så
        lenge det er naudsynt. Ungdomsgarantien gjeld inntil du fyller 30 år. Les meir om ungdomsgarantien og fast
        kontaktperson på <span class="lenke">nav.no</span>.
    </p>
{{/eq}}
{{#eq malform "NB"}}
    <h2>Du har rett til oppfølging etter ungdomsgarantien</h2>
    <p>Dette betyr at du får tilbud om en fast kontaktperson hos Nav som vil gi deg rask hjelp og tett oppfølging så
        lenge det er nødvendig. Ungdomsgarantien gjelder inntil fylte 30 år. Les mer om ungdomsgarantien og fast
        kontaktperson på <span class="lenke">nav.no</span>.
    </p>
{{/eq}}
