{{#eq malform "NN"}}
    <h2>
        Du har moglegheiter til å jobbe litt eller delvis
    </h2>
    <p>
        Vi har vurdert kva som er mogleg for deg på arbeidsmarknaden.
    </p>
    <p>
        Vi har kome fram til at arbeidsevna di er nedsett, og at det er mogleg for deg å jobbe litt eller delvis.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h2>
        Du har mulighet til å jobbe litt eller delvis
    </h2>
    <p>
        Vi har vurdert jobbmulighetene dine.
    </p>
    <p>
        Vi har kommet frem til at arbeidsevnen din er nedsatt, og at du har mulighet til å jobbe litt eller delvis.
    </p>
{{/eq}}
