{{#eq malform "NN"}}
    <h1>
        Du har rett til rettleiing for å kome tilbake til jobben din
    </h1>
    <p>
        Vi har vurdert kva jobbar det er mogleg for deg å få, og kor mye hjelp du treng frå oss.
    </p>
    <p>
        Vi har kome fram til at du kan få rettleiing frå oss for å kome tilbake til jobben din.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h1>
        Du har rett til veiledning for å komme tilbake til jobben din
    </h1>
    <p>
        Vi har vurdert jobbmulighetene dine og hvor mye hjelp du trenger fra oss.
    </p>
    <p>
        Vi har kommet frem til at du kan få veiledning fra oss for å komme tilbake til jobben din.
    </p>
{{/eq}}
