{{#eq malform "NN"}}
    <h1>
        Du har rett til rettleiing for å kome i jobb
    </h1>
    <p>
        Du har rett til å få ei vurdering av jobbmoglegheitene dine og kor mykje hjelp du treng frå oss.
        Vi har kome fram til at du kan få rettleiing frå oss for å kome i jobb.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h1>
        Du har rett til veiledning for å komme i jobb
    </h1>
    <p>
        Du har rett til å få en vurdering av jobbmulighetene dine og hvor mye hjelp du trenger fra oss.
        Vi har kommet frem til at du kan få veiledning fra oss for å komme i jobb.
    </p>
{{/eq}}