{{#eq malform "NN"}}
    <h2>
        Du har rett til rettleiing for å kome i jobb
    </h2>
    <p>
        Du har registrert deg som arbeidssøkjar. Derfor har du rett til å få ei vurdering av kva jobbar det er mogleg
        for deg å få, og kor mykje hjelp du treng frå oss.
    </p>
    <p>
        Vi har kome fram til at du kan få rettleiing frå oss for å kome i jobb.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h2>
        Du har rett til veiledning for å komme i jobb
    </h2>
    <p>
        Du har registrert deg som arbeidssøker. Derfor har du rett til å få en vurdering av jobbmulighetene dine og hvor
        mye hjelp du trenger fra oss.
    </p>
    <p>
        Vi har kommet frem til at du kan få veiledning fra oss for å komme i jobb.
    </p>
{{/eq}}
