{{#eq malform "NN"}}
    <h1>
        Du har rett til meir rettleiing for å kome i jobb
    </h1>
    <p>
        Du har rett til å få ei vurdering av jobbmoglegheitene dine og kor mykje hjelp du treng frå oss.
        Vi har kome fram til at det kan vere utfordrande for deg å kome i jobb. Derfor kan du få meir rettleiing.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h1>
        Du har rett til mer veiledning for å komme i jobb
    </h1>
    <p>
        Du har rett til å få en vurdering av jobbmulighetene dine og hvor mye hjelp du trenger fra oss.
        Vi har kommet frem til at det kan være utfordrende for deg å komme i jobb. Derfor kan du få mer veiledning.
    </p>
{{/eq}}