{{#eq malform "NN"}}
    <h2>
        Du har rett til meir rettleiing for å kome tilbake til jobben din
    </h2>
    <p>
        Vi har vurdert kva jobbar det er mogleg for deg å få, og kor mykje hjelp du treng frå oss.
    </p>
    <p>
        Vi har kome fram til at arbeidsevna di er nedsett. Derfor kan du få meir rettleiing for å kome tilbake til
        jobben din.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h2>
        Du har rett til mer veiledning for å komme tilbake til jobben din
    </h2>
    <p>
        Vi har vurdert jobbmulighetene dine og hvor mye hjelp du trenger fra oss.
    </p>
    <p>
        Vi har kommet frem til at arbeidsevnen din er nedsatt. Derfor kan du få mer veiledning for å komme tilbake til
        jobben din.
    </p>
{{/eq}}
