{{#eq malform "NN"}}
    <h1>
        Du har gode moglegheiter til å kome i jobb
    </h1>
    {{> vedtak14a/partials/fnr}}
    <p>
        Du har rett til å få ei vurdering av kva jobbar det er mogleg
        for deg å få, og kor mykje hjelp du treng frå oss.
    </p>
    <p>
        Vi har kome fram til at du har gode moglegheiter til å kome i jobb på eiga hand.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h1>
        Du har gode muligheter til å komme i jobb
    </h1>
    {{> vedtak14a/partials/fnr}}
    <p>
        Du har rett til å få en vurdering av jobbmulighetene dine og hvor
        mye hjelp du trenger fra oss.
    </p>
    <p>
        Vi har kommet frem til at du har gode muligheter til å komme i jobb på egen hånd.
    </p>
{{/eq}}
