{{#eq malform "NN"}}
    <h1>
        Du har gode moglegheiter til å fortsetje i jobben din
    </h1>
    <p>
        Du har rett til å få ei vurdering av jobbmoglegheitene dine og kor mykje hjelp du treng frå oss.
        Vi har kome fram til at du har gode moglegheiter til å fortsetje i jobben din utan å få rettleiing frå oss.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h1>
        Du har gode muligheter til å fortette i jobben din
    </h1>
    <p>
        Du har rett til å få en vurdering av jobbmulighetene dine og hvor mye hjelp du trenger fra oss.
        Vi har kommet frem til at du har gode muligheter til å fortsette i jobben din uten å få veiledning fra
        oss.
    </p>
{{/eq}}
