{{#eq malform "NN"}}
<h1>
    Vi har vurdert kva jobbar det er mogleg for deg å få
</h1>
<p>
    Du har rett til å få ei vurdering av kva jobbar det er mogleg for deg å få og kor mykje hjelp du treng frå oss.
    Vi har kome fram til at arbeidsevna di er varig nedsett, og at du har små moglegheiter til å jobbe.
</p>
{{/eq}}

{{#eq malform "NB"}}
<h1>
    Vi har vurdert jobbmulighetene dine
</h1>
<p>
    Du har rett til å få en vurdering av jobbmulighetene dine og hvor mye hjelp du trenger fra oss.
    Vi har kommet frem til at arbeidsevnen din er varig nedsatt, og at du har liten mulighet til å jobbe.
</p>
{{/eq}}