{{#eq malform "NN"}}
    <h1>
        Vi har vurdert kva jobbar det er mogleg for deg å få
    </h1>
    {{> vedtak14a/partials/fnr}}
    <p>
        Vi har kome fram til at arbeidsevna di er varig nedsett, og at du har små moglegheiter til å jobbe.
    </p>
{{/eq}}

{{#eq malform "NB"}}
    <h1>
        Vi har vurdert jobbmulighetene dine
    </h1>
    {{> vedtak14a/partials/fnr}}
    <p>
        Vi har kommet frem til at arbeidsevnen din er varig nedsatt, og at du har liten mulighet til å jobbe.
    </p>
{{/eq}}
